.sql-editor .toolbar .button-holder{
	margin:0;
}

.sql-editor .objects-tree {
	background: #FAFAFA;
	border:1px solid #CCC;
	height: 500px;
	overflow: scroll;
	margin-right: 10px;
}

.sql-editor .objects-tree li {
	list-style-type: none;
}

.sql-editor  .editor {
	position: relative;
	height: 500px;
	margin-top:8px;
	background: #FAFAFA;
	border:1px solid #CCC;
}

.sql-editor .sql-box {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.sql-editor .results {
	position: absolute;
	height: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.sql-editor .results .table {
	margin-bottom: 0px;
}

.sql-editor .results td {
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: #FFF;
}